<a href="https://colab.research.google.com/github/Hafsa620/PAI-LAB/blob/main/EDA_Pipeline(LAB8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing  import OneHotEncoder, FunctionTransformer,MinMaxScaler
from sklearn.pipeline import Pipeline

In [ ]:
data=pd.read_csv('Titanic.csv')

In [ ]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
data.nunique(axis=0)

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

Column Transformer

In [ ]:
preprocessor=ColumnTransformer(transformers=[('age_imputer',SimpleImputer(strategy='mean'),['Age']),
                                             ('ohe',OneHotEncoder(),['Sex','Embarked'])],remainder='passthrough')

transformed_data=preprocessor.fit_transform(data)
print(f'Transformed Data:{transformed_data}')

print(f'Transformed Data:{pd.DataFrame(transformed_data)}')

transformed_data.shape

Transformed Data:[[22.0 0.0 1.0 ... 'A/5 21171' 7.25 nan]
 [38.0 1.0 0.0 ... 'PC 17599' 71.2833 'C85']
 [26.0 1.0 0.0 ... 'STON/O2. 3101282' 7.925 nan]
 ...
 [29.69911764705882 1.0 0.0 ... 'W./C. 6607' 23.45 nan]
 [26.0 0.0 1.0 ... '111369' 30.0 'C148']
 [32.0 0.0 1.0 ... '370376' 7.75 nan]]
Transformed Data:            0    1    2    3    4    5    6    7  8  9   \
0         22.0  0.0  1.0  0.0  0.0  1.0  0.0    1  0  3
1         38.0  1.0  0.0  1.0  0.0  0.0  0.0    2  1  1
2         26.0  1.0  0.0  0.0  0.0  1.0  0.0    3  1  3
3         35.0  1.0  0.0  0.0  0.0  1.0  0.0    4  1  1
4         35.0  0.0  1.0  0.0  0.0  1.0  0.0    5  0  3
..         ...  ...  ...  ...  ...  ...  ...  ... .. ..
886       27.0  0.0  1.0  0.0  0.0  1.0  0.0  887  0  2
887       19.0  1.0  0.0  0.0  0.0  1.0  0.0  888  1  1
888  29.699118  1.0  0.0  0.0  0.0  1.0  0.0  889  0  3
889       26.0  0.0  1.0  1.0  0.0  0.0  0.0  890  1  1
890       32.0  0.0  1.0  0.0  1.0  0.0  0.0  891  0  3

                                                    10 11 12  \
0                              Braund, Mr. Owen Harris  1  0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  1  0
2                               Heikkinen, Miss. Laina  0  0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  1  0
4                             Allen, Mr. William Henry  0  0
..                                                 ... .. ..
886                              Montvila, Rev. Juozas  0  0
887                       Graham, Miss. Margaret Edith  0  0
888           Johnston, Miss. Catherine Helen "Carrie"  1  2
889                              Behr, Mr. Karl Howell  0  0
890                                Dooley, Mr. Patrick  0  0

                   13       14    15
0           A/5 21171     7.25   NaN
1            PC 17599  71.2833   C85
2    STON/O2. 3101282    7.925   NaN
3              113803     53.1  C123
4              373450     8.05   NaN
..                ...      ...   ...
886            211536     13.0   NaN
887            112053     30.0   B42
888        W./C. 6607    23.45   NaN
889            111369     30.0  C148
890            370376     7.75   NaN

[891 rows x 16 columns]

(891, 16)

Function transformer

In [ ]:
def impute_embarked(X):
  X['Embarked']=X['Embarked'].fillna(X['Embarked'].mode()[0])
  return X

preprocessor=ColumnTransformer(transformers=[('age_imputer',SimpleImputer(strategy='mean'),['Age']),
                                             ('ohe',OneHotEncoder(),['Sex','Embarked']),('embarked_imputer',FunctionTransformer(impute_embarked),['Embarked'])],remainder='passthrough')

transformed_data=preprocessor.fit_transform(data)
print(f'Transformed Data:{transformed_data}')

print(f'Transformed Data:{pd.DataFrame(transformed_data)}')

transformed_data.shape

Transformed Data:[[22.0 0.0 1.0 ... 'A/5 21171' 7.25 nan]
 [38.0 1.0 0.0 ... 'PC 17599' 71.2833 'C85']
 [26.0 1.0 0.0 ... 'STON/O2. 3101282' 7.925 nan]
 ...
 [29.69911764705882 1.0 0.0 ... 'W./C. 6607' 23.45 nan]
 [26.0 0.0 1.0 ... '111369' 30.0 'C148']
 [32.0 0.0 1.0 ... '370376' 7.75 nan]]
Transformed Data:            0    1    2    3    4    5    6  7    8  9  10  \
0         22.0  0.0  1.0  0.0  0.0  1.0  0.0  S    1  0  3
1         38.0  1.0  0.0  1.0  0.0  0.0  0.0  C    2  1  1
2         26.0  1.0  0.0  0.0  0.0  1.0  0.0  S    3  1  3
3         35.0  1.0  0.0  0.0  0.0  1.0  0.0  S    4  1  1
4         35.0  0.0  1.0  0.0  0.0  1.0  0.0  S    5  0  3
..         ...  ...  ...  ...  ...  ...  ... ..  ... .. ..
886       27.0  0.0  1.0  0.0  0.0  1.0  0.0  S  887  0  2
887       19.0  1.0  0.0  0.0  0.0  1.0  0.0  S  888  1  1
888  29.699118  1.0  0.0  0.0  0.0  1.0  0.0  S  889  0  3
889       26.0  0.0  1.0  1.0  0.0  0.0  0.0  C  890  1  1
890       32.0  0.0  1.0  0.0  1.0  0.0  0.0  Q  891  0  3

                                                    11 12 13  \
0                              Braund, Mr. Owen Harris  1  0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  1  0
2                               Heikkinen, Miss. Laina  0  0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  1  0
4                             Allen, Mr. William Henry  0  0
..                                                 ... .. ..
886                              Montvila, Rev. Juozas  0  0
887                       Graham, Miss. Margaret Edith  0  0
888           Johnston, Miss. Catherine Helen "Carrie"  1  2
889                              Behr, Mr. Karl Howell  0  0
890                                Dooley, Mr. Patrick  0  0

                   14       15    16
0           A/5 21171     7.25   NaN
1            PC 17599  71.2833   C85
2    STON/O2. 3101282    7.925   NaN
3              113803     53.1  C123
4              373450     8.05   NaN
..                ...      ...   ...
886            211536     13.0   NaN
887            112053     30.0   B42
888        W./C. 6607    23.45   NaN
889            111369     30.0  C148
890            370376     7.75   NaN

[891 rows x 17 columns]

(891, 17)

pipeline

In [ ]:
def impute_embarked(X):
  X['Embarked']=X['Embarked'].fillna(X['Embarked'].mode()[0])
  return X

preprocessor=ColumnTransformer(transformers=[('age_imputer',SimpleImputer(strategy='mean'),['Age']),
                                             ('embarked_encoder',Pipeline(steps=[('embarked_imputer',FunctionTransformer(impute_embarked)),('ohe',OneHotEncoder())]),['Embarked']),
                                              ('onehot',OneHotEncoder(),['Sex'])],remainder='passthrough')

transformed_data=preprocessor.fit_transform(data)
print(f'Transformed Data:{transformed_data}')

print(f'Transformed Data:{pd.DataFrame(transformed_data)}')

transformed_data.shape

Transformed Data:[[22.0 0.0 0.0 ... 'A/5 21171' 7.25 nan]
 [38.0 1.0 0.0 ... 'PC 17599' 71.2833 'C85']
 [26.0 0.0 0.0 ... 'STON/O2. 3101282' 7.925 nan]
 ...
 [29.69911764705882 0.0 0.0 ... 'W./C. 6607' 23.45 nan]
 [26.0 1.0 0.0 ... '111369' 30.0 'C148']
 [32.0 0.0 1.0 ... '370376' 7.75 nan]]
Transformed Data:            0    1    2    3    4    5    6  7  8   \
0         22.0  0.0  0.0  1.0  0.0  1.0    1  0  3
1         38.0  1.0  0.0  0.0  1.0  0.0    2  1  1
2         26.0  0.0  0.0  1.0  1.0  0.0    3  1  3
3         35.0  0.0  0.0  1.0  1.0  0.0    4  1  1
4         35.0  0.0  0.0  1.0  0.0  1.0    5  0  3
..         ...  ...  ...  ...  ...  ...  ... .. ..
886       27.0  0.0  0.0  1.0  0.0  1.0  887  0  2
887       19.0  0.0  0.0  1.0  1.0  0.0  888  1  1
888  29.699118  0.0  0.0  1.0  1.0  0.0  889  0  3
889       26.0  1.0  0.0  0.0  0.0  1.0  890  1  1
890       32.0  0.0  1.0  0.0  0.0  1.0  891  0  3

                                                    9  10 11  \
0                              Braund, Mr. Owen Harris  1  0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  1  0
2                               Heikkinen, Miss. Laina  0  0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  1  0
4                             Allen, Mr. William Henry  0  0
..                                                 ... .. ..
886                              Montvila, Rev. Juozas  0  0
887                       Graham, Miss. Margaret Edith  0  0
888           Johnston, Miss. Catherine Helen "Carrie"  1  2
889                              Behr, Mr. Karl Howell  0  0
890                                Dooley, Mr. Patrick  0  0

                   12       13    14
0           A/5 21171     7.25   NaN
1            PC 17599  71.2833   C85
2    STON/O2. 3101282    7.925   NaN
3              113803     53.1  C123
4              373450     8.05   NaN
..                ...      ...   ...
886            211536     13.0   NaN
887            112053     30.0   B42
888        W./C. 6607    23.45   NaN
889            111369     30.0  C148
890            370376     7.75   NaN

[891 rows x 15 columns]

(891, 15)

Lab Task

MinMax Scaler

In [ ]:

def impute_embarked(data):
  data['Embarked']=data['Embarked'].fillna(data['Embarked'].mode()[0])
  return data

preprocessor=ColumnTransformer(transformers=[('age_imputer',SimpleImputer(strategy='mean'),['Age']),
                                             ('age_scaler',MinMaxScaler(),['Age']),
                                             ('embarked_encoder',Pipeline(steps=[('embarked_imputer',FunctionTransformer(impute_embarked)),('ohe',OneHotEncoder())]),['Embarked']),
                                              ('onehot',OneHotEncoder(),['Sex']),('fare_scaler',MinMaxScaler(),['Fare'])],remainder='passthrough')

transformed_data=preprocessor.fit_transform(data)
print(f'Transformed Data:{transformed_data}')

print(f'Transformed Data:{pd.DataFrame(transformed_data)}')

transformed_data.shape

Transformed Data:[[22.0 0.2711736617240512 0.0 ... 0 'A/5 21171' nan]
 [38.0 0.4722292033174164 1.0 ... 0 'PC 17599' 'C85']
 [26.0 0.32143754712239253 0.0 ... 0 'STON/O2. 3101282' nan]
 ...
 [29.69911764705882 nan 0.0 ... 2 'W./C. 6607' nan]
 [26.0 0.32143754712239253 1.0 ... 0 '111369' 'C148']
 [32.0 0.39683337521990447 0.0 ... 0 '370376' nan]]
Transformed Data:            0         1    2    3    4    5    6         7    8  9  10  \
0         22.0  0.271174  0.0  0.0  1.0  0.0  1.0  0.014151    1  0  3
1         38.0  0.472229  1.0  0.0  0.0  1.0  0.0  0.139136    2  1  1
2         26.0  0.321438  0.0  0.0  1.0  1.0  0.0  0.015469    3  1  3
3         35.0  0.434531  0.0  0.0  1.0  1.0  0.0  0.103644    4  1  1
4         35.0  0.434531  0.0  0.0  1.0  0.0  1.0  0.015713    5  0  3
..         ...       ...  ...  ...  ...  ...  ...       ...  ... .. ..
886       27.0  0.334004  0.0  0.0  1.0  0.0  1.0  0.025374  887  0  2
887       19.0  0.233476  0.0  0.0  1.0  1.0  0.0  0.058556  888  1  1
888  29.699118       NaN  0.0  0.0  1.0  1.0  0.0  0.045771  889  0  3
889       26.0  0.321438  1.0  0.0  0.0  0.0  1.0  0.058556  890  1  1
890       32.0  0.396833  0.0  1.0  0.0  0.0  1.0  0.015127  891  0  3

                                                    11 12 13  \
0                              Braund, Mr. Owen Harris  1  0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  1  0
2                               Heikkinen, Miss. Laina  0  0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  1  0
4                             Allen, Mr. William Henry  0  0
..                                                 ... .. ..
886                              Montvila, Rev. Juozas  0  0
887                       Graham, Miss. Margaret Edith  0  0
888           Johnston, Miss. Catherine Helen "Carrie"  1  2
889                              Behr, Mr. Karl Howell  0  0
890                                Dooley, Mr. Patrick  0  0

                   14    15
0           A/5 21171   NaN
1            PC 17599   C85
2    STON/O2. 3101282   NaN
3              113803  C123
4              373450   NaN
..                ...   ...
886            211536   NaN
887            112053   B42
888        W./C. 6607   NaN
889            111369  C148
890            370376   NaN

[891 rows x 16 columns]

(891, 16)

In [ ]:
def impute_embarked(X):
  X['Embarked']=X['Embarked'].fillna(X['Embarked'].mode()[0])
  return X

preprocessor=ColumnTransformer(transformers=[('age_encoder',Pipeline(steps=[('age_imputer',SimpleImputer(strategy='mean')),
                                             ('age_scaler',MinMaxScaler())]),['Age']),
                                             ('embarked_encoder',Pipeline(steps=[('embarked_imputer',FunctionTransformer(impute_embarked)),('ohe',OneHotEncoder())]),['Embarked']),
                                              ('onehot',OneHotEncoder(),['Sex']),('fare_scaler',MinMaxScaler(),['Fare'])],remainder='passthrough')

transformed_data=preprocessor.fit_transform(data)
#print(f'Transformed Data:{transformed_data}')
print(f'Original Data:{data}')


print(f'Transformed Data:{pd.DataFrame(transformed_data)}')

transformed_data.shape

Original Data:     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]
Transformed Data:           0    1    2    3    4    5         6    7  8  9   \
0    0.271174  0.0  0.0  1.0  0.0  1.0  0.014151    1  0  3
1    0.472229  1.0  0.0  0.0  1.0  0.0  0.139136    2  1  1
2    0.321438  0.0  0.0  1.0  1.0  0.0  0.015469    3  1  3
3    0.434531  0.0  0.0  1.0  1.0  0.0  0.103644    4  1  1
4    0.434531  0.0  0.0  1.0  0.0  1.0  0.015713    5  0  3
..        ...  ...  ...  ...  ...  ...       ...  ... .. ..
886  0.334004  0.0  0.0  1.0  0.0  1.0  0.025374  887  0  2
887  0.233476  0.0  0.0  1.0  1.0  0.0  0.058556  888  1  1
888  0.367921  0.0  0.0  1.0  1.0  0.0  0.045771  889  0  3
889  0.321438  1.0  0.0  0.0  0.0  1.0  0.058556  890  1  1
890  0.396833  0.0  1.0  0.0  0.0  1.0  0.015127  891  0  3

                                                    10 11 12  \
0                              Braund, Mr. Owen Harris  1  0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  1  0
2                               Heikkinen, Miss. Laina  0  0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  1  0
4                             Allen, Mr. William Henry  0  0
..                                                 ... .. ..
886                              Montvila, Rev. Juozas  0  0
887                       Graham, Miss. Margaret Edith  0  0
888           Johnston, Miss. Catherine Helen "Carrie"  1  2
889                              Behr, Mr. Karl Howell  0  0
890                                Dooley, Mr. Patrick  0  0

                   13    14
0           A/5 21171   NaN
1            PC 17599   C85
2    STON/O2. 3101282   NaN
3              113803  C123
4              373450   NaN
..                ...   ...
886            211536   NaN
887            112053   B42
888        W./C. 6607   NaN
889            111369  C148
890            370376   NaN

[891 rows x 15 columns]

(891, 15)

In [ ]:
transformed_Data=pd.DataFrame(transformed_data)
transformed_Data.rename(columns={
    0: 'Scaled_Age',
    1: 'Embarked_C',
    2: 'Embarked_Q',
    3: 'Embarked_S',
    4: 'Sex_male',
    5: 'Sex_female',
    6: 'Scaled_Fare',
    7: 'PassengerId',
    8: 'Survived',
    9: 'Pclass',
    10: 'Name',
    11: 'SibSp',
    12: 'ParCh',
    13: 'Ticket',
    14: 'Cabin'
}, inplace=True)

In [ ]:
transformed_Data.head()

,Scaled_Age,Embarked_C,Embarked_Q,Embarked_S,Sex_male,Sex_female,Scaled_Fare,PassengerId,Survived,Pclass,Name,SibSp,ParCh,Ticket,Cabin
0,0.271174,0.0,0.0,1.0,0.0,1.0,0.014151,1,0,3,"Braund, Mr. Owen Harris",1,0,A/5 21171,NaN
1,0.472229,1.0,0.0,0.0,1.0,0.0,0.139136,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,0,PC 17599,C85
2,0.321438,0.0,0.0,1.0,1.0,0.0,0.015469,3,1,3,"Heikkinen, Miss. Laina",0,0,STON/O2. 3101282,NaN
3,0.434531,0.0,0.0,1.0,1.0,0.0,0.103644,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,0,113803,C123
4,0.434531,0.0,0.0,1.0,0.0,1.0,0.015713,5,0,3,"Allen, Mr. William Henry",0,0,373450,NaN

In [ ]:

transformed_Data['FamilySize']=transformed_Data['SibSp']+transformed_Data['ParCh']
transformed_Data.head()

,Scaled_Age,Embarked_C,Embarked_Q,Embarked_S,Sex_male,Sex_female,Scaled_Fare,PassengerId,Survived,Pclass,Name,SibSp,ParCh,Ticket,Cabin,FamilySize
0,0.271174,0.0,0.0,1.0,0.0,1.0,0.014151,1,0,3,"Braund, Mr. Owen Harris",1,0,A/5 21171,NaN,1
1,0.472229,1.0,0.0,0.0,1.0,0.0,0.139136,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,0,PC 17599,C85,1
2,0.321438,0.0,0.0,1.0,1.0,0.0,0.015469,3,1,3,"Heikkinen, Miss. Laina",0,0,STON/O2. 3101282,NaN,0
3,0.434531,0.0,0.0,1.0,1.0,0.0,0.103644,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,0,113803,C123,1
4,0.434531,0.0,0.0,1.0,0.0,1.0,0.015713,5,0,3,"Allen, Mr. William Henry",0,0,373450,NaN,0

In [ ]:
transformed_Data.drop(columns=['PassengerId','Name','Ticket','Cabin','ParCh','SibSp'],inplace=True)
transformed_Data.head()

,Scaled_Age,Embarked_C,Embarked_Q,Embarked_S,Sex_male,Sex_female,Scaled_Fare,Survived,Pclass,FamilySize
0,0.271174,0.0,0.0,1.0,0.0,1.0,0.014151,0,3,1
1,0.472229,1.0,0.0,0.0,1.0,0.0,0.139136,1,1,1
2,0.321438,0.0,0.0,1.0,1.0,0.0,0.015469,1,3,0
3,0.434531,0.0,0.0,1.0,1.0,0.0,0.103644,1,1,1
4,0.434531,0.0,0.0,1.0,0.0,1.0,0.015713,0,3,0

In [ ]:
transformed_Data.shape

(891, 10)

Family size through Function transformer

In [ ]:
def family_size(data):
  data['FamilySize']=data['SibSp']+data['Parch']
  return data

def impute_embarked(X):
  X['Embarked']=X['Embarked'].fillna(X['Embarked'].mode()[0])
  return X

preprocessor=ColumnTransformer(transformers=[('age_encoder',Pipeline(steps=[('age_imputer',SimpleImputer(strategy='mean')),
                                             ('age_scaler',MinMaxScaler())]),['Age']),
                                             ('embarked_encoder',Pipeline(steps=[('embarked_imputer',FunctionTransformer(impute_embarked)),('ohe',OneHotEncoder())]),['Embarked']),
                                              ('onehot',OneHotEncoder(),['Sex']),('fare_scaler',MinMaxScaler(),['Fare']),('Family_size',FunctionTransformer(family_size),['SibSp','Parch'])],remainder='passthrough')

transformed_data=preprocessor.fit_transform(data)
#print(f'Transformed Data:{transformed_data}')
print(f'Original Data:{data}')


print(f'Transformed Data:{pd.DataFrame(transformed_data)}')

transformed_data.shape

Original Data:     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]
Transformed Data:           0    1    2    3    4    5         6  7  8  9    10 11 12  \
0    0.271174  0.0  0.0  1.0  0.0  1.0  0.014151  1  0  1    1  0  3
1    0.472229  1.0  0.0  0.0  1.0  0.0  0.139136  1  0  1    2  1  1
2    0.321438  0.0  0.0  1.0  1.0  0.0  0.015469  0  0  0    3  1  3
3    0.434531  0.0  0.0  1.0  1.0  0.0  0.103644  1  0  1    4  1  1
4    0.434531  0.0  0.0  1.0  0.0  1.0  0.015713  0  0  0    5  0  3
..        ...  ...  ...  ...  ...  ...       ... .. .. ..  ... .. ..
886  0.334004  0.0  0.0  1.0  0.0  1.0  0.025374  0  0  0  887  0  2
887  0.233476  0.0  0.0  1.0  1.0  0.0  0.058556  0  0  0  888  1  1
888  0.367921  0.0  0.0  1.0  1.0  0.0  0.045771  1  2  3  889  0  3
889  0.321438  1.0  0.0  0.0  0.0  1.0  0.058556  0  0  0  890  1  1
890  0.396833  0.0  1.0  0.0  0.0  1.0  0.015127  0  0  0  891  0  3

                                                    13                14    15
0                              Braund, Mr. Owen Harris         A/5 21171   NaN
1    Cumings, Mrs. John Bradley (Florence Briggs Th...          PC 17599   C85
2                               Heikkinen, Miss. Laina  STON/O2. 3101282   NaN
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)            113803  C123
4                             Allen, Mr. William Henry            373450   NaN
..                                                 ...               ...   ...
886                              Montvila, Rev. Juozas            211536   NaN
887                       Graham, Miss. Margaret Edith            112053   B42
888           Johnston, Miss. Catherine Helen "Carrie"        W./C. 6607   NaN
889                              Behr, Mr. Karl Howell            111369  C148
890                                Dooley, Mr. Patrick            370376   NaN

[891 rows x 16 columns]

(891, 16)